.btn {
  padding: 20px 15px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s ease;
  &:hover {
    transform: scale(1.08);
  }
  &:active {
    transform: scale(0.7);
  }
  &.primary {
    background: $black;
    color: $white;
    &:active {
      background: rgba($black, $alpha: 0.8);
    }
  }
  // &:disabled {
  //   background-color: rgba($black, $alpha: 0.7);
  // }
}
